@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url(_reset.css);
@import url(_variaveis.css);

/* arquivos dos estilos da página */
@import url(player_container.css);

:root{
	font-family: var(--fonte-padrao);
	box-sizing: content-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	min-height: 100vh;
	background-image: url('../img/bg.jpg');
}

/*classes para espaçamento*/
.mg-bottom8{
	margin-bottom: 8px;	
}

.mg-bottom16{
	margin-bottom: 16px;	
}

.mg-bottom24{
	margin-bottom: 24px;	
}

.mg-bottom32{
	margin-bottom: 32px;	
}

.mg-bottom40{
	margin-bottom: 40px;	
}

