.player_container{
    width: 350px;
    background-color: var(--color2);
    padding:20px;
    border-radius: 20px;
}

.player_container__img{
    width: 100%;
    border-radius: 20px;
}

.player_container__music_title{
    font-size: 16px;
    font-weight: bold;
    color: var(--color4);
    text-align: center;
}

.player_container__author_name{
    font-size: 12px;
    color: var(--color3);
    text-align: center;
}

/* progress bar */
.progress_bar_container{

}

.progress_bar__time_container{
    display: flex;
    justify-content: space-between;
    color: var(--color3);
    font-size: 12px;
}

.progress_bar__progress_bar{
    background-color: var(--color4);
    width: 100%;
    height: 5px;
    border-radius: 5px;
}

.progress_bar__progress{
    background-color: var(--color1);
    width: 50%;
    height: 100%;
    display: block;
    border-radius: 5px;
}

/* player container */
.player_controls{
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.player_controls__btn_music_control:hover > *{
    fill: var(--color4);
    stroke:  var(--color4);
}

.player_controls__btn_play{
    background-color: var(--color1);
    width: 50px;
    height: 50px;
    clip-path: circle(50%);
    margin: 0px 24px;
    transition: color 2s;
}

.player_controls__btn_play:hover{
    background-color: var(--color3);
}